<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Recipes</title>
</head>
<body>
<h1>Recipes</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Ingredient</th>
    <th>Delivery</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="recipe : ${recipes}">
    <td th:text="${recipe.id}"></td>
    <td th:text="${recipe.name}"></td>
    <td th:text="${recipe.description}"></td>
    <td th:text="${recipe.ingredient}"></td>
    <td th:text="${recipe.delivery} ? 'Yes' : 'No'"></td>
    <td>
      <form action="#" th:action="@{/recipes/update/} + ${recipe.id}" method="get">
        <button type="submit">Update</button>
      </form>
      <form action="#" th:action="@{/recipes/delete/} + ${recipe.id}" method="post">
        <button type="submit">Delete</button>
      </form>

    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
