<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View Recipes</title>
</head>
<body>
<h1>Recipes</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Ingredients</th>
    <th>Tags</th>
  </tr>
  <!-- Iterate over recipes and display them in table rows -->
  <tr th:each="recipe : ${recipes}">
    <td th:text="${recipe.name}"></td>
    <td th:text="${recipe.category.name}"></td>
    <td th:text="${recipe.description}"></td>
    <td>
      <ul>
        <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.name + ' - ' + ingredient.quantity}"></li>
      </ul>
    </td>
    <td>
      <ul>
        <li th:each="tag : ${recipe.tags}" th:text="${tag.title}"></li>
      </ul>
    </td>
  </tr>
</table>
<br>
<button onclick="location.href='/add-recipe'">Add Recipe</button>
</body>
</html>
